version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: myfitbuddydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "8081:5432"
  